server {
    listen 80;
    server_name 127.0.0.1;

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root {{ project_name_path }};
    }

    location / {
        include         uwsgi_params;
        uwsgi_pass      unix:/run/uwsgi/{{ site_name }}.sock;
    }
}
